In [ ]:
#Load libraries
import pandas as pd

## Import datasets

In [589]:
#cov dataset
df_cov_07 = pd.io.stata.read_stata('data/cov.dta')

df_cov_07 = df_cov_07[['pidlink', 'marstat', 'age', 'sex']]

#dl1 dataset
df_dl1_07 = pd.io.stata.read_stata('data/dl1.dta')

df_dl1_07 = df_dl1_07[['pidlink', 'dl05a', 'dl05b', 'dl06']]

#sw dataset
df_sw_14 = pd.io.stata.read_stata('data/sw.dta')

df_sw_14 = df_sw_14[['pidlink', 'sw05']]

#tk1 dataset
df_tk1_07 = pd.io.stata.read_stata('data/tk1.dta')

df_tk1_07 = df_tk1_07[['pidlink', 'hhid07', 'tk01a', 'tk01']]

# #hr1 dataset
# df_hr1_07 = pd.io.stata.read_stata('data/hr1.dta')

# df_hr1_07 = df_hr1_07[['hhid07', 'pidlink', 'hr01', 'hr1type']]

#hr1_hh dataset
df_b2_hr1_07 = pd.io.stata.read_stata('data/b2_hr1.dta')

df_b2_hr1_07 = df_b2_hr1_07[['hhid07', 'hr01', 'hrtype']]

#sc dataset
df_sc_07 = pd.io.stata.read_stata('data/sc.dta')

df_sc_07 = df_sc_07[['hhid07', 'sc010700']]

#krk dataset
df_krk_07 = pd.io.stata.read_stata('data/krk.dta')

df_krk_07 = df_krk_07.drop(['version', 'module'], axis=1)

df_b2_hr1_07: This is in long data format. We need to transform it into wide data in order to merge properly later on.

We also don't need multi-levels in our columns, so we'll flatten it using .to_flat_index()

In [590]:
#transform long data into wide data
df_b2_hr1_07 = df_b2_hr1_07.pivot(columns=['hrtype'],
                     values=['hr01'],
                     index=['hhid07'])

#flatten column names
df_b2_hr1_07.columns = ["_".join(a) for a in df_b2_hr1_07.columns.to_flat_index()]

#reset index
df_b2_hr1_07.reset_index()

,hhid07,hr01_A,hr01_B,hr01_C,hr01_D1,hr01_D2,hr01_D3,hr01_E,hr01_F,hr01_G,hr01_H,hr01_J,hr01_K1,hr01_K2
0,0012200,1.0,3.0,1.0,1.0,3.0,3.0,3.0,1.0,3.0,3.0,3.0,1.0,3.0
1,0012241,1.0,3.0,3.0,1.0,3.0,3.0,3.0,1.0,3.0,3.0,1.0,1.0,3.0
2,0012242,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0
3,0012500,1.0,3.0,3.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,1.0,3.0
4,0012900,1.0,3.0,3.0,1.0,3.0,3.0,3.0,1.0,3.0,3.0,1.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12982,3212741,1.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0
12983,3212800,1.0,3.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0,3.0,3.0,1.0,1.0
12984,3212900,1.0,3.0,3.0,3.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0
12985,3212911,1.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0,3.0,3.0,1.0,1.0,3.0
12986,3213000,1.0,3.0,3.0,1.0,3.0,3.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0

1. Create a list of dataframes to join by individual ID (pidlink)
2. Merge them all together. Call this dataframe 'df'.

In [591]:
df_list = [df_cov_07, df_dl1_07, df_tk1_07, df_sw_14]

In [592]:
from functools import reduce

#merge datasets by individual id (pidlink)
df = reduce(lambda  left,right: pd.merge(left,right,on=['pidlink'],
                                            how='left'), df_list)

1. Create a list of dataframes to join by household ID (hhid07)
2. Merge this with the previous dataframe, df.

In [593]:
#merge by household id (hhid07)

df_list2 = [df, df_krk_07, df_b2_hr1_07, df_sc_07]
df = reduce(lambda  left,right: pd.merge(left,right,on=['hhid07'],
                                            how='left'), df_list2)

In [594]:
#Check if any columns are missing
df.columns

Index(['pidlink', 'marstat', 'age', 'sex', 'dl05a', 'dl05b', 'dl06', 'hhid07',
       'tk01a', 'tk01', 'sw05', 'krk01', 'krk02a', 'krk02b', 'krk02c',
       'krk02d', 'krk02e', 'krk02f', 'krk02g', 'krk02h', 'krk02i', 'krk06',
       'krk08', 'krk09', 'krk10', 'krk05a', 'hr01_A', 'hr01_B', 'hr01_C',
       'hr01_D1', 'hr01_D2', 'hr01_D3', 'hr01_E', 'hr01_F', 'hr01_G', 'hr01_H',
       'hr01_J', 'hr01_K1', 'hr01_K2', 'sc010700'],
      dtype='object')

Count total NAs in each column to see if any create problems for us by having too many NAs.

In [596]:
# Count total NaN at each column
print(" \nCount total NaN in each column : \n\n",
      df.isnull().sum())
df.shape

Count total NaN in each column :

 pidlink        0
marstat        0
age            0
sex            0
dl05a       3040
dl05b        908
dl06        3040
hhid07       913
tk01a        913
tk01         913
sw05        8305
krk01        913
krk02a       913
krk02b       913
krk02c       913
krk02d       913
krk02e       913
krk02f       913
krk02g       913
krk02h       913
krk02i       913
krk06        913
krk08        913
krk09        913
krk10        913
krk05a       913
hr01_A       922
hr01_B       922
hr01_C       922
hr01_D1      922
hr01_D2      922
hr01_D3      922
hr01_E       922
hr01_F       922
hr01_G       922
hr01_H       922
hr01_J       922
hr01_K1      922
hr01_K2      922
sc010700     913
dtype: int64

(29967, 40)

In [597]:
#Remove rows with NAs
df = df.dropna()

#Drop id columns
df.drop(['pidlink', 'hhid07'], axis=1, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [620]:
#Assign X and y
y = df['sw05']
X = df.drop(['sw05'], axis=1)
print(y)
print(X)

#Change y column into dummies
y_dummies = pd.get_dummies(y)
print(y_dummies)

0             2:It is just adequate for my needs
1             2:It is just adequate for my needs
2             2:It is just adequate for my needs
4             2:It is just adequate for my needs
5        1:It is less than adequate for my needs
                          ...
29962         2:It is just adequate for my needs
29963         2:It is just adequate for my needs
29964         2:It is just adequate for my needs
29965    3:It is more than adequate for my needs
29966         2:It is just adequate for my needs
Name: sw05, Length: 20213, dtype: category
Categories (4, object): ['1:It is less than adequate for my needs' < '2:It is just adequate for my needs' < '3:It is more than adequate for my needs' < '8:Don't Know']
       marstat   age  sex  dl05a  dl05b  dl06  tk01a  tk01  krk01  krk02a  \
0          2.0  48.0  1.0    7.0    3.0   2.0    1.0   1.0    1.0     3.0
1          2.0  47.0  3.0    7.0    3.0   2.0    1.0   1.0    1.0     3.0
2          1.0  22.0  1.0    9.0    3.0  13.0    1.0   1.0    1.0     3.0
4          1.0  15.0  1.0    7.0    3.0   3.0    1.0   3.0    1.0     3.0
5          2.0  27.0  1.0    7.0    3.0  15.0    1.0   1.0    1.0     3.0
...        ...   ...  ...    ...    ...   ...    ...   ...    ...     ...
29962      2.0  43.0  3.0    7.0    3.0   3.0    3.0   4.0    8.0     3.0
29963      2.0  38.0  1.0    7.0    3.0   5.0    1.0   1.0    8.0     3.0
29964      2.0  41.0  1.0   10.0    3.0   6.0    1.0   1.0    2.0     3.0
29965      2.0  52.0  3.0    4.0    3.0   5.0    1.0   1.0    2.0     3.0
29966      1.0  16.0  3.0    6.0    3.0   5.0    3.0   3.0    2.0     3.0

       ...  hr01_D2  hr01_D3  hr01_E  hr01_F  hr01_G  hr01_H  hr01_J  hr01_K1  \
0      ...      3.0      3.0     3.0     1.0     3.0     3.0     3.0      1.0
1      ...      3.0      3.0     3.0     1.0     3.0     3.0     3.0      1.0
2      ...      3.0      3.0     3.0     1.0     3.0     3.0     3.0      1.0
4      ...      3.0      3.0     3.0     1.0     3.0     3.0     3.0      1.0
5      ...      3.0      3.0     3.0     1.0     3.0     3.0     1.0      1.0
...    ...      ...      ...     ...     ...     ...     ...     ...      ...
29962  ...      3.0      3.0     1.0     1.0     3.0     3.0     1.0      1.0
29963  ...      3.0      3.0     1.0     1.0     3.0     3.0     1.0      1.0
29964  ...      3.0      3.0     1.0     1.0     1.0     3.0     1.0      1.0
29965  ...      3.0      3.0     1.0     1.0     1.0     3.0     1.0      1.0
29966  ...      3.0      3.0     1.0     1.0     1.0     3.0     1.0      1.0

       hr01_K2  sc010700
0          3.0      12.0
1          3.0      12.0
2          3.0      12.0
4          3.0      12.0
5          3.0      12.0
...        ...       ...
29962      3.0      73.0
29963      3.0      73.0
29964      1.0      73.0
29965      1.0      73.0
29966      1.0      73.0

[20213 rows x 37 columns]
       1:It is less than adequate for my needs  \
0                                            0
1                                            0
2                                            0
4                                            0
5                                            1
...                                        ...
29962                                        0
29963                                        0
29964                                        0
29965                                        0
29966                                        0

       2:It is just adequate for my needs  \
0                                       1
1                                       1
2                                       1
4                                       1
5                                       0
...                                   ...
29962                                   1
29963                                   1
29964                                   1
29965                                   0
29966                                   1

       3:It is more than adequate for my needs  8:Don't Know
0                                            0             0
1                                            0             0
2                                            0             0
4                                            0             0
5                                            0             0
...                                        ...           ...
29962                                        0             0
29963                                        0             0
29964                                        0             0
29965                                        1             0
29966                                        0             0

[20213 rows x 4 columns]

In [599]:
X.nunique()

marstat       5
age          73
sex           2
dl05a        24
dl05b         3
dl06         18
tk01a         3
tk01          8
krk01        11
krk02a        3
krk02b        3
krk02c        3
krk02d        3
krk02e        3
krk02f        3
krk02g        3
krk02h        3
krk02i        3
krk06        30
krk08         8
krk09         5
krk10         8
krk05a      289
hr01_A        3
hr01_B        2
hr01_C        3
hr01_D1       2
hr01_D2       2
hr01_D3       2
hr01_E        2
hr01_F        2
hr01_G        2
hr01_H        2
hr01_J        2
hr01_K1       2
hr01_K2       3
sc010700     18
dtype: int64

In [621]:
#Identify columns with more than 20 unique values (treat as numerical)
num = X.loc[:,X.nunique()>=24].columns

#Identify columns with less than 20 unique values (categorical)
cat = X.loc[:,X.nunique()<24].columns

In [622]:
#one hot encode X before we split and scale
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [623]:
encoder = OneHotEncoder(sparse=False, drop="if_binary")

X2 = encoder.fit_transform(X[cat])
X2 = pd.DataFrame(X2)

In [604]:
X = pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,...,540,541,542,543,544,545,546,547,548,549
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20208,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20209,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20210,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20211,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20212,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [554]:
from sklearn.compose import ColumnTransformer


#Build pipeline to process data
t = [(('hot'), OneHotEncoder(sparse=False), cat), (('scaler'), StandardScaler(), num)]

In [555]:
#Create instance of ColumnTransformer
ct = ColumnTransformer(transformers=t, remainder='passthrough')

In [556]:
#Transform training data

#fit and transform
X = ct.fit_transform(X)

#Convert back into dataframe for easy viewing
X = pd.DataFrame(X)

X

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.034270,-0.005638,-0.603638,-0.207083
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.957467,-0.005638,-0.603638,-0.207083
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.962608,0.441233,-0.603638,-0.207083
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.500229,-0.005638,-0.603638,-0.207083
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.578593,-0.005638,-1.343404,-0.319667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20208,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.650255,-0.005638,0.136128,-0.053560
20209,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.266240,-0.005638,0.136128,-0.053560
20210,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.496649,0.664668,0.875895,0.314897
20211,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.341482,-0.675943,0.875895,0.314897
20212,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,-1.423426,-0.229073,0.875895,0.314897

In [482]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.276309,-0.005741,-1.659228,-0.390265
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,-0.430635,-0.005741,0.127076,-0.100693
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.738153,-0.005741,-0.230184,-0.085452
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.030076,-0.230626,-0.230184,-0.176896
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.122550,-0.005741,-0.587445,-0.298821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15154,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.506948,-0.230626,-0.587445,-0.126094
15155,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.799437,0.444028,0.127076,0.188880
15156,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.738153,-0.230626,-0.230184,-0.227698
15157,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.260714,-0.230626,-0.230184,-0.054971
15158,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.491353,-0.005741,0.484337,-0.115933

In [583]:
#Split into training and test data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y_dummies, stratify=y_dummies, 
                                                    random_state=2, shuffle=True,
                                                   train_size=0.8)

In [575]:
#One hot encode all columns except 0,1

y_train.shape

(15159, 4)

In [481]:
from keras.models import Sequential
from keras.layers import Dense

In [576]:
#Create model
model = Sequential()
model.add(Dense(300, input_dim=149, activation='relu'))
model.add(Dense(20, activation='relu'))
# model.add(Dense(20, activation='relu'))
model.add(Dense(4, activation='softmax'))
model.compile(loss='categorical_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])

In [584]:
model.fit(X_train, y_train, epochs=50, batch_size=100)

Epoch 1/50
162/162 [==============================] - 0s 2ms/step - loss: 0.3791 - accuracy: 0.8703
Epoch 2/50
162/162 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8793
Epoch 3/50
162/162 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8843
Epoch 4/50
162/162 [==============================] - 0s 2ms/step - loss: 0.3027 - accuracy: 0.8901
Epoch 5/50
162/162 [==============================] - 0s 3ms/step - loss: 0.2924 - accuracy: 0.8990
Epoch 6/50
162/162 [==============================] - 0s 2ms/step - loss: 0.2827 - accuracy: 0.8983
Epoch 7/50
162/162 [==============================] - 0s 2ms/step - loss: 0.2736 - accuracy: 0.9035
Epoch 8/50
162/162 [==============================] - 0s 2ms/step - loss: 0.2629 - accuracy: 0.9062
Epoch 9/50
162/162 [==============================] - 0s 3ms/step - loss: 0.2492 - accuracy: 0.9129
Epoch 10/50
162/162 [==============================] - 0s 2ms/step - loss: 0.2483 - accuracy: 0.9119: 0s - loss: 0.2456 - accuracy: 0.91
Epoch 11/50
162/162 [==============================] - 0s 2ms/step - loss: 0.2313 - accuracy: 0.9198
Epoch 12/50
162/162 [==============================] - 0s 2ms/step - loss: 0.2275 - accuracy: 0.9219
Epoch 13/50
162/162 [==============================] - 1s 3ms/step - loss: 0.2273 - accuracy: 0.9203
Epoch 14/50
162/162 [==============================] - 0s 3ms/step - loss: 0.2240 - accuracy: 0.9222
Epoch 15/50
162/162 [==============================] - 0s 3ms/step - loss: 0.2087 - accuracy: 0.9283
Epoch 16/50
162/162 [==============================] - 1s 3ms/step - loss: 0.2018 - accuracy: 0.9313
Epoch 17/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1909 - accuracy: 0.9349
Epoch 18/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1952 - accuracy: 0.9304
Epoch 19/50
162/162 [==============================] - 0s 3ms/step - loss: 0.1780 - accuracy: 0.9396
Epoch 20/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1730 - accuracy: 0.9414
Epoch 21/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1802 - accuracy: 0.9380
Epoch 22/50
162/162 [==============================] - 0s 3ms/step - loss: 0.1784 - accuracy: 0.9387
Epoch 23/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1721 - accuracy: 0.9403: 0s - loss: 0.1712 - accuracy: 0.94
Epoch 24/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1538 - accuracy: 0.9505
Epoch 25/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1494 - accuracy: 0.9540
Epoch 26/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1443 - accuracy: 0.9552
Epoch 27/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1400 - accuracy: 0.9535
Epoch 28/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9521
Epoch 29/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1422 - accuracy: 0.9550
Epoch 30/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1385 - accuracy: 0.9541
Epoch 31/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1289 - accuracy: 0.9586
Epoch 32/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1199 - accuracy: 0.9642
Epoch 33/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1192 - accuracy: 0.9621
Epoch 34/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1294 - accuracy: 0.9570
Epoch 35/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1190 - accuracy: 0.9641
Epoch 36/50
162/162 [==============================] - 1s 3ms/step - loss: 0.1111 - accuracy: 0.9656
Epoch 37/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1056 - accuracy: 0.9691
Epoch 38/50
162/162 [==============================] - 0s 3ms/step - loss: 0.1174 - accuracy: 0.9638
Epoch 39/50
162/162 [==============================] - 1s 4ms/step - loss: 0.1142 - accuracy: 0.9634
Epoch 40/50
162/162 [==============================] - 0s 3ms/step - loss: 0.1052 - accuracy: 0.9681
Epoch 41/50
162/162 [==============================] - 0s 3ms/step - loss: 0.0976 - accuracy: 0.9715
Epoch 42/50
162/162 [==============================] - 0s 2ms/step - loss: 0.1012 - accuracy: 0.9681
Epoch 43/50
162/162 [==============================] - 0s 3ms/step - loss: 0.1215 - accuracy: 0.9574
Epoch 44/50
162/162 [==============================] - 1s 3ms/step - loss: 0.1100 - accuracy: 0.9650: 0s - loss: 0.1128 - accura
Epoch 45/50
162/162 [==============================] - 1s 3ms/step - loss: 0.0939 - accuracy: 0.9712
Epoch 46/50
162/162 [==============================] - 1s 3ms/step - loss: 0.0917 - accuracy: 0.9716
Epoch 47/50
162/162 [==============================] - 0s 3ms/step - loss: 0.0788 - accuracy: 0.9772
Epoch 48/50
162/162 [==============================] - 1s 3ms/step - loss: 0.0861 - accuracy: 0.9748
Epoch 49/50
162/162 [==============================] - 0s 3ms/step - loss: 0.0799 - accuracy: 0.9781
Epoch 50/50
162/162 [==============================] - 0s 3ms/step - loss: 0.0955 - accuracy: 0.9686

In [585]:
#make predictions
y_pred = model.predict(X_test)
y_pred = y_pred.round()
y_pred

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.]], dtype=float32)

For a first try, metrics look pretty ok, except for poor precision.

However, in the case of flagging those who are likely to fall into poverty, it is more important to correctly identify all who will fall into poverty (recall), than to have high precision (high percentage of correct classifications amongst total predicted).

**We don't really care about wrongly classifying those who won't be poor as poor, but we do care about correctly classifying those who will be poor as poor.**

In [586]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred, zero_division=True))

              precision    recall  f1-score   support

           0       0.24      0.18      0.21       522
           1       0.63      0.68      0.65      2478
           2       0.34      0.30      0.32      1041
           3       0.00      0.00      0.00         2

   micro avg       0.52      0.52      0.52      4043
   macro avg       0.30      0.29      0.30      4043
weighted avg       0.50      0.52      0.51      4043
 samples avg       0.53      0.52      0.52      4043

In [588]:
from sklearn.metrics import confusion_matrix

confusion_matrix(
    y_test.values.argmax(axis=1), y_pred.argmax(axis=1))

array([[ 104,  322,   96,    0],
       [ 271, 1684,  522,    1],
       [  62,  663,  316,    0],
       [   1,    1,    0,    0]])